# Docker base image: `gcr.io/deeplearning-platform-release/tf2-gpu.2-6:latest`
tensorflow
tensorflow-datasets
tensorflow-addons
absl-py
gin-config
parameterized
mediapy
scikit-image==0.19.1
apache-beam
google-cloud-bigquery-storage==1.1.0 # Suppresses a harmless error from beam
natsort
gdown
tqdm
